
<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Mindful Eater</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Missy Wimberly is a Front-End Dev turned Foodie - Based in Brooklyn, NY.">
    <meta name="keywords" content="front end developer,foodie,mindfulness,brooklyn">

    <!-- Bootstrap Core CSS -->
    <% stylesheet_link_tag "bootstrap.min.css" %>

    <!-- Custom CSS -->
    <% stylesheet_link_tag "main.css" %>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <%= favicon_link_tag "favicon.ico" %>

</head>

<body>
    <div id="top-recipes" class="carousel slide container" data-ride="carousel" data-pause="hover">
      <div class="overlay"><h1>The Mindful Eater</h1></div>
      <!-- Indicators -->
      <ol class="carousel-indicators hidden-md hidden-lg">
        <li data-target="#top-recipes" data-slide-to="0" class="active"></li>
        <li data-target="#top-recipes" data-slide-to="1"></li>
        <li data-target="#top-recipes" data-slide-to="2"></li>
      </ol>
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("banana-pancake.JPG", :alt => "Banana Pancakes", class: "img-responsive") %>
        </div>
        <div class="item">
          <%= image_tag("good-bread.JPG", :alt => "Life Changing Bread", class: "img-responsive") %>
        </div>
        <div class="item">
          <%= image_tag("quinoa-bowl.png", :alt => "Quinoa Bowl", class: "img-responsive") %>
        </div>
      </div>
      <nav id='nav_bar'>
        <ul class='nav_links text-center'>
          <li><a href="url">Philosophy</a></li>
          <li><a href="url">Recipes</a></li>
          <li><a href="url">Meditation</a></li>
          <li><a href="url">About</a></li>
        </ul>
      </nav>
     
      
    </div> <!-- Carousel -->
<!--     <nav class="navbar bg-faded">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target"#nav-content"></button>
      <div class="collapse navbar-toggleable-xs" id="nav-content">
        <a class=href=""></a>
      </div>
    </nav> -->
    <div id="body_div row">
      <div class="brand row">
        <h1>THE MINDFUL EATER</h1>
        <h4>Where Healthy Living Meets Mindful Awareness</h4>
      </div>
      <!-- Recipe Snippets -->
      <% @recipes[0..2].each do |recipe| %>
        <div class="recipe-snip row">
          <div class="recipe-post col-md-8 col-md-offset-2">
            <h3 class="text-center recipe-name"><%= recipe.name %></h3>
            <img class="img-responsive recipe-img-lg" src="<%= recipe.pic.url %>">
            <p class="recipe-description"><%= recipe.description %></p>
            <!-- <hr> -->
            <div class="read-more text-center">
              <%= link_to "Full Recipe", recipe, id: "description-trunctd", class: "description" %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="add-new-btn">
        <%= link_to "Hey Miss! What'd You Cook Today?", new_recipe_path, class: "btn add-recipe", role: "button"%>
      </div>
      </div>
  <footer>
    <h1>melissa wimberly © copyright 2016</h1>
  </footer>
    </div>
    
    <!-- jQuery -->
    <%= javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>

    <!-- Script to Activate the Carousel and Navbar-->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "navbar.js" %>
    
    <script>
        $('.carousel').carousel({
            interval: 5000
        })
    </script>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</body>

</html>

