<h1>Congrats! You've just added this new recipe</h1>

<div class="recipe-post">
	<h3></h1><%= @recipe.name %></h3>
	<h5><%= @recipe.date %></h5>
	<h5><%= @recipe.recipe %></h5>
	<img class="img-responsive" src="<%= @recipe.pic.url %>">
</div>
<div>
	<%= link_to "Back To Recipes", root_path, class: "btn btn-info description", role: "button"%>
</div>

